<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="testtask.mapper.HelloWorldMapper">

    <resultMap id="result" type="testtask.bean.HelloWorld">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
    </resultMap>

    <select id="selectHello" resultMap="result">
        select * from test where id = #{id}
    </select>
</mapper>